<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>信息管理系统</title>
  <link rel="stylesheet" href="/static/js/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">信息管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      
      <li class="layui-nav-item"><a href="">基础信息管理</a></li>
      <!-- <li class="layui-nav-item"><a href="">成绩管理</a></li> -->
      <!-- <li class="layui-nav-item"><a href="">系统管理</a></li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../img/?no=1" class="layui-nav-img">
          neo
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="../logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <!-- <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">下拉选项</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li> -->
        <li class="layui-nav-item"><a href="../table?table=collage" target="myiframe">学院</a></li>
        <li class="layui-nav-item"><a href="../table?table=department" target="myiframe">系</a></li>
        <li class="layui-nav-item"><a href="../table?table=tro" target="myiframe">教研室</a></li>
        <li class="layui-nav-item"><a href="../table?table=class" target="myiframe">班级</a></li>
        <li class="layui-nav-item"><a href="../table?table=teacher" target="myiframe">老师</a></li>
        <li class="layui-nav-item"><a href="../table?table=student" target="myiframe">学生</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <!-- <div style="padding: 15px;"> -->
      <div>
      <iframe src="../table?table=collage" frameborder="0" id="myiframe" name="myiframe"style="width: 100%;"></iframe>
    </div>
  </div>
  
  <div class="layui-footer footer footer-demo">
    <!-- 底部固定区域 -->
    <div id="l">
      <p><font color="#666666"> © 2019 </font><a><font color="#666666">Informatio Managrate System</font></a>  <font color="#666666">MIT license</font></p>
    </div>ayui-mian
    
  </div>
</div>
<script src="/static/js/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
var ifm= document.getElementById("myiframe");

ifm.height=document.documentElement.clientHeight - 100;

</script>
</body>
</html>
